@media (max-width: 747px) {
    /* Mobile */
    .wrapper-2 {
        margin-bottom: 58px;
    }
}

@media (min-width: 748px) {
    /* Note and tablet */
    header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .wrapper-1 {
        padding: 44px;
    }

    .partners-list {
        display: flex;
        flex-wrap: wrap;
    }

    .partner-2 {
        order: 1;
    }

    .partner-4 {
        order: 2;
    }
}

@media (min-width: 748px) and (max-width: 941px) {
    /* Tablet */
    .partners-list-item {
        flex-basis: 236px;
    }

    .partners-list {
        width: 492px;
    }

    .wrapper-2 {
        margin-bottom: 42px;
    }
}

@media (min-width: 942px) {
    /* Note */
    .partners-list-item {
        flex-basis: 220px;
    }

    .partners-list {
        width: 910px;
    }

    .wrapper-2 {
        margin-bottom: 76px;
    }
}

