/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/') format('woff2'),
        url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff');
  }
  
  /* roboto-slab-700 - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-slab-v7-latin-700.woff2') format('woff2'),
        url('../fonts/roboto-slab-v7-latin-700.woff') format('woff');
  }

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'),
        url('../fonts/montserrat-v12-latin-regular.woff') format('woff');
  }
  
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'),
        url('../fonts/montserrat-v12-latin-700.woff') format('woff');
  }
  
  /* droid-serif-italic - latin */
  @font-face {
      font-family: "Droid Serif";
      font-style: italic;
      font-weight: normal;
      src: url("../fonts/DroidSerif-Italic-webfont.woff");
  }

*{
    margin: 0;
    padding: 0;
}

.hero{
    padding-top: 44px;
}

.header, .services__menu{
    width: 933px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__menu{
    width: 480px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
}

.header__item:hover .menu__link{
    color: #fed136;
}

.menu__link{
    text-decoration: none;
    color: #222222;
}

.services{
    padding-bottom: 120px;
    text-align: center;
    color: #222222;
}

.services__title{
    margin-top: 120px;
    text-transform: uppercase;
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 40px;
}

.services__sub{
    margin-top: 19px;
    color: #838383;
    font-family: "Droid Serif";
}

.services__menu{
    list-style: none;
    margin-top: 80px;
}

.services__item{
    width: 31%;
}

.services__icon{
    width: 35px;
    height: 38px;
    fill: #fed136;
    padding: 14px;
    border: 3px solid #fed136;
    border-radius: 50%;
}

.services__name{
    margin-top: 27px;
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 18px;
}

.services__text{
    margin-top: 15px;
    line-height: 1.5;
    color: #838383;
    font-family: "Roboto Slab";
    font-weight: 400;
    font-size: 14px;
}

.contacts{
    padding-top: 110px;
    padding-bottom: 115px;
    text-align: center;
    color: #fff;
    background-color: #222222;
    background-image: url("../img/bg-footer.png");
    background-position: 100% 80%;
    background-size: initial;
    background-repeat: no-repeat;
}

.contacts__title{
    text-transform: uppercase;
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 40px;
}

.contacts__sub{
    margin-top: 23px;
    color: #838383;
    font-family: "Droid Serif";
}

.form__wrapper{
    display: flex;
    width: 940px;
    margin: 76px auto 0;
}

.input-name, .input-email, .input-subject, .input-message{
    width: 455px;
    padding: 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    color: #aaaaaa;
}

.input-name:valid, .input-email:valid, .input-message:valid{
    outline: 1px solid green;
}

.input-name:invalid, .input-email:invalid, .input-message:invalid{
    outline: 1px solid red;
}

.input-email, .input-subject{
    margin-top: 29px;
}

.input-message{
    width: inherit;
}

.btn{
    width: 240px;
    margin-top: 31px;
    padding: 25px 47px;
    border: none;
    border-radius: 5px;
    background-color: #fed136;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.btn:hover {background-color: rgb(205, 107, 50)}

.btn:active {
  background-color: #c2400c;
