*{
    margin: 0;
    padding: 0;
}

.header{
    padding-top: 38px;
    display: flex;
    justify-content: space-between;
    width: 1111px;
    margin: 0 auto;
}

.logo-img{
    width: 78px;
    height: 21px;
}

.menu-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 467px;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    color: black;
}

.menu-link{
    text-decoration: none;
    color: #000;
}

.menu-link:hover{
    color: rgba(26, 188, 156);
}

.container{
    margin-top: 33px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/slider-bg.png");
    background-size: cover;
    padding: 218px 0 280px;
    text-transform: uppercase;
}

.slider{
    width: 1111px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.slider-text{
    width: 738px;
}

.slider-title{
    font-family: "Roboto";
    font-weight: 900;
    font-size: 56px;
    color: white;
    line-height: 36px;
}

.slider-subtitle{
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 300;
    color: white;
    margin-top: 36px;
}

.left-button{
    position: relative;
    top: 12px;
    /* height: 104px; */
    background-image:  url("../img/left-arrow.png"), linear-gradient(rgba(26, 188, 156, 0.5), rgba(26, 188, 156, 0.5));
    width: 104px;
    background-repeat: no-repeat;
    background-position: center;
}

.right-button{
    position: relative;
    top: 12px;
    background-image: url("../img/right-arrow.png"), linear-gradient(rgba(26, 188, 156, 0.5), rgba(26, 188, 156, 0.5));
    width: 104px;
    background-repeat: no-repeat;
    background-position: center;
}

.left-button:hover{
    background-image:  url("../img/left-arrow.png"),linear-gradient(rgba(26, 188, 156, 0.8), rgba(26, 188, 156, 0.8));
    cursor: pointer;
}

.right-button:hover{
    background-image: url("../img/right-arrow.png"), linear-gradient(rgba(26, 188, 156, 0.8), rgba(26, 188, 156, 0.8));
    cursor: pointer;
}

.main-container{
    width: 1111px;
    margin: 0 auto;
    padding: 100px 0;
}

.section-title{
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: rgba(81, 81, 81);
}

.section-title::after{
    content: "";
    display: block;
    width: 164px;
    height: 7px;
    background-color: rgba(26, 188, 156);
    margin: 32px auto 0;
}

.product-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 82px;
}

.product-cards{
    font-size: 0;
    position: relative;
}

.product-cards:hover .product-name{
    background-color: rgb(26, 188, 156);
}

.product-cards:hover .product-price{
    background-color: rgb(127, 217, 199);
}

.product-img{
    width: 255px;
    height: 282px;
}

.product-info{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 18px;
    color: rgba(255, 255, 255);
}

.product-name{
    background-color: rgb(50, 50, 50);
    width: 85%;
    padding: 12px;
}

.product-price{
    background-color: rgb(140, 140, 140);
    width: 15%;
    padding: 12px;
    text-align: center;
}

.hover-block{
    display: none;
    padding: 78px 40px;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
}

.product-cards:hover .hover-block{
    display: block;
} 

.hover-buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 166px;
}

.like-button, .mix-button, .later-button{
    width: 50px;
    height: 50px;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
}

.like-button:hover, .mix-button:hover, .later-button:hover{
    background-color: rgb(26, 188, 156);
}

.like-button{
    background-image: url("../img/heart-icon.png");
    cursor: pointer;
}

.mix-button{
    background-image: url("../img/mix-icons.png");
    cursor: pointer;
}

.later-button{
    background-image: url("../img/later-icon.png");
    cursor: pointer;
}

.tocart-button{
    width: 166px;
    height: 50px;
    margin-top: 7px;
    background-image: url("../img/cart-icon.png");
    background-color: rgb(50, 50, 50);
    background-repeat: no-repeat;
    background-position-x: 13px;
    background-position-y: 11px;
    font-family: "Open Sans";
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    padding: 13px 0px 20px 40px;
    border: 1px solid white;
}

.tocart-button:hover{
    /* font-weight: bold; */
    background-color: rgb(19, 19, 19);
    cursor: pointer;
}

.footer{
    background-color: rgb(50, 50, 50);
    padding: 35px 0;
    text-align: center;
    color: rgba(255, 255, 255);
    font-family: "Open Sans";
    font-size: 16px;
}

.footer-span{
    color: #1abc9c;
}