html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
    font-family: 'Roboto', black;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

img.product-image {
    max-width: 70%;
    max-height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.link-item {
    height: 282px;
    width: 255px;
    position: relative;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    padding: 35px 30px;
}

section>h2 {
    font-size: 48px;
    line-height: 114px;
    color: #515151;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

section>h2::after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 7px;
    width: 164px;
    background: rgb(26, 188, 156);
    background-repeat: no-repeat;
    margin-bottom: 82px;
}

main {
    text-align: center;
}

/* MAIN NAV SECTION */
.page-nav {
    margin: 0;
    margin-bottom: 75px;
    padding: 1px 0px;
}

.site-logo {
    display: inline-block;
}

.main-nav {
    margin: 0;
    padding: 0;
    margin-top: 2px;
    text-transform: uppercase;
    float: right;
}

.main-nav a {
    text-decoration-line: none;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
}
.main-nav li {
    float: left;
}

.main-nav li:not(:last-child) {
    margin-right: 35px;
}
.main-nav a:hover, main-nav a:focus {
    color: #ff0000;
}

/* MAIN */
/* PRODUCTS */

.featured-products {
    margin-bottom: 71px;
}

.products {
    margin: 0;
    padding: 0;
}

.products-item {
    float: left;
    width: 255px;
    height: auto;
    overflow: hidden;
    margin: 0;
    margin-right: 30px;
    padding: 0;
    text-align: left;
    vertical-align: middle;
}

.product-name {
    width: 201px;
    padding: 0 0 0 15px;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.products-item a {
    display: block;
    width: 255px;
    height: 322px;
    background: #e9f0fd;
}

.link-item {
    margin: auto;
    padding: 1px;
}

.products-item:nth-child(4n) {
    margin-right: 0px;
}

.products-item:nth-child(-n+4) {
    margin-bottom: 30px;
}

.product-image {
    /* margin: 29px auto 28px auto; */
    margin: 0px;
}

.product-name {
    display: block;
    height: 40px;
    float: left;
    margin: 0;
    color: #ffffff;
    background: #323232;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    width: 255px;
    overflow-x: visible;
}

.product-name::after {
    content: "";
    display: block;
    float: right;
    width: 54px;
    height: 40px;
    text-align: center;
    background: rgba(255, 255, 255, 0.44);
}

.item-1::after {
    content: "$26";
}
.item-2::after {
    content: "$31";
}
.item-3::after {
    content: "$21";
}
.item-4::after {
    content: "$56";
}
.item-5::after {
    content: "$26";
}
.item-6::after {
    content: "$31";
}
.item-7::after {
    content: "$21";
}
.item-8::after {
    content: "$56";
}

.link-item:hover .product-name{
    background: #1abc9c;
}
/* NEWS */

.news {
    margin: 0;
    padding: 0;
}

.news-item {
    width: 350px;
    float: left;
    margin-right: 30px;
    text-align: left;
}

.news-item:nth-child(3n) {
    margin-right: 0px;
}

.news-item h5 {
    font-family: "Open sans", sans-serif;
    color: #555252;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    margin: 0;
}

.news-item h5::after {
    content: "";
    display: block;
    height: 3px;
    width: 136px;
    background: rgb(26, 188, 156);
    background-repeat: no-repeat;
}

.news-item p {
    font-family: "Open sans", sans-serif;
    color: #555252;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.news-item-image {
    margin-bottom: 14px;
}

.more {
    margin: 0;
    padding: 0;
    border: none;
    width: 160px;
    height: 51px;
    text-align: center;
    color: #ffffff;
    font-family: "Open sans", sans-serif;
    font-weight: 300;
    background: #bee7de;
}
.more:focus, .more:hover {
    background: #bed0e7;
    cursor: pointer;
}