.footer-form{
    -ms-flex-preferred-size: 380px;
        flex-basis: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.footer-form_email{
    -ms-flex-preferred-size: 240px;
        flex-basis: 240px;
    height: 37px;
    padding: 0;
    padding-left: 13px;
    border: 1px solid #e7e7e7;
    color: #dddbdb;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.footer-form_submit{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding: 0;
    border: 0;
    padding: 0px 28px ;
    background-color: #95e1d3;
    height: 39px;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}