$main-white: #fff;
$red-color: #f38181;
$main-font-color: #333333;
$hover-color: #fce38a;
$artical-color: #999999;
$ico-color: #95e1d3;
$main-font: "Montserrat",
sans-serif;
$main-cursive: "Kaushan Script",
cursive;
$font-article: "Roboto",
sans-serif;