html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button {
    border: none;
    cursor: pointer;
}