.head-cursive,
.head {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.head {
    font-family: $main-font;
    text-transform: uppercase;
    font-weight: 700;
}

.head-cursive {
    font-family: $main-cursive;
    font-weight: 400;
}

.head-cursive--banner {
    font-size: 72px;
    max-width: 580px;
    margin-bottom: 42px;
    color: $main-white;
}

.head--banner {
    font-size: 150px;
    max-width: 820px;
    margin-bottom: 124px;
    color: $main-white;
}

.head-cursive--services,
.head-cursive--team {
    font-size: 24px;
    color: $main-font-color;
    margin-bottom: 23px;
}

.head--services,
.head--team {
    color: $main-font-color;
    font-size: 30px;
}

.head--services::after,
.head--team::after {
    content: '';
    display: block;
    margin: 40px auto 66px;
    height: 4px;
    width: 62px;
    background-color: $red-color;
}

.head--team::after {
    margin-bottom: 46px;
}